version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.0
        environment:
          DATABASE_URL: postgresql://scaffold:scaffold@127.0.0.1:5432/test

      - image: circleci/postgres:alpine
        environment:
          POSTGRES_USER: scaffold
          POSTGRES_PASSWORD: scaffold
          POSTGRES_DB: test

    working_directory: ~/scaffold

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            ./create_venv.sh

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            flask db migrate || flask db upgrade
            python -m unittest discover .

      - store_artifacts:
          path: test-reports
          destination: test-reports

  deploy:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master


workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
